<% let users = ["Arya", "Rob", "Ned", "Sansa", "John"] %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (typeof myName !=='undefined' && myName) { %>
        <h1>hello world, its <%= myName %></h1>
        <% } else { %>
            <h2>the name was not provided try again!</h2>
        <% } %>

            <ul>
                <% users.forEach(user => { %>
                    <li><%= user %></li>
                <% }) %>
            </ul>


            

</body>

</html>